<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4ecae92a">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img width="100px" height="100px" src="https://www.jntucek.ac.in/placements/assets/img/Jntuk-logo.png" alt="JNTUK Logo">
            <span class="header">University College of Engineering, Kakinada</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <nav class="nav nav-masthead navbar-nav ml-auto">
                <a class="nav-link" (click)="sess('1')" (click)="home()">Home</a>
                <a class="nav-link" (click)="sess('2')" (click)="aboutUs()">About Us</a>
                <a class="nav-link" (click)="sess('3')" (click)="recruiters()">Recruiters</a>
                <a class="nav-link" (click)="sess('4')" (click)="team()">Team</a>
                <a class="nav-link" (click)="sess('5')" (click)="placementRecords()">Placement Statistics</a>
                <a class="nav-link" (click)="sess('6')" (click)="yearRecords()">Placement Report</a>
            </nav>
        </div>
    </div>
</nav>