.nav-bar {
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.05);
}

.nav-masthead .nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 4, 255, 0.5);
    background-color: transparent;
    border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-bottom-color: rgba(75, 45, 204, 0.25);
}

.nav-masthead .nav-link {
    margin-left: 1rem;
    font-size: 18px;
}

.nav-masthead .active {
    color: rgb(40, 58, 163);
    border-bottom-color: rgb(40, 58, 163);
}

a:hover {
    cursor: pointer;
}

.header {
    padding: 5px;
    font-weight: bold;
    margin-left: 0.5cm;
    color: blue;
    font-size: 28px;
}


/* .header h1 {
    font-weight: bold;
    margin-left: 0.5cm;
}

.header h2 {
    margin-left: 6.5cm;
} */