<footer class="container-fluid p-5" id="footer" style="background-color: #4ecae92a">
    <div class="row">
        <div class="col-12">
            <div class="mx-4 p-3 text-center">
                <h3 class="hd1">Career Guidance and Placement Cell</h3>
                <h4 class="mt-4 mb-3 hd2">University College of Engineering Kakinada</h4>
                <h5 class="hd-3">Jawaharlal Nehru Technological University Kakinada</h5>
                <h3 class="mt-4 mb-0">CONTACT US</h3>
            </div>
        </div>
        <div class="col-12 text-center">
            <i class="bi-geo-alt" style="font-size: 2rem; color: rgb(40, 58, 163);"></i>
            <span class="ml-3 content"><span class="heading">ADDRESS: </span>Swarnotsav Bhavan, Kakinada-533003, Andhra Pradesh, India.</span>
        </div>
        <div class="col-12 text-center">
            <i class="bi-envelope" style="font-size: 2rem; color: rgb(40, 58, 163);"></i>
            <span class="ml-3 content"><span class="heading">Email:</span> placementofficer@jntucek.edu.in</span>
        </div>
        <div class="col-12 text-center">
            <i class="bi-telephone" style="font-size: 2rem; color: rgb(40, 58, 163);"></i>
            <span class="ml-3 content"> <span class="heading">Phone: </span> +91 884 2351502</span>
        </div>
    </div>
</footer>

<!-- <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="inputName" class="form-label">Name</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Enter your Name">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Enter your Email">
                </div>
                <div class="col-12">
                    <label for="inputSubject" class="form-label">Subject</label>
                    <input type="text" class="form-control" id="inputSubject" placeholder="Enter your Subject">
                </div>
                <div class="col-12">
                    <label for="inputMessage" class="form-label">Message</label>
                    <textarea class="form-control" id="inputMessage" placeholder="Enter your Message"></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn border border-3 rounded-pill">Submit Feedback</button>
                </div>
            </form>
        </div> -->