<app-header></app-header>

<div class="mt-5">
    <div class="container" id="information">
        <div class="p-5 mb-4 bg-light border border-5 rounded">
            <div class="container-fluid py-5">
                <h1 class="display-6 fw-bold">We are helping to grow our students.</h1>
                <p class="col-12 fs-6">
                    Training and Placement Office arranges and coordinates various programmes that aim at moulding the students so as to meet the industry expectations in career building and in turn bring laurels to the parent institution. The Training and Placement Office,
                    guided by a set of rules and principles, strives to maintain good relationship with industries. Preparing the recruitment schedule for the year, inviting corporations for pre-placement talks on the campus followed by final placements,
                    and overseeing the process to its end, is the responsibility of the Training and Placement Office. The TPO endeavours to carry out successfully all the processes methodically throughout the year.
                </p>
                <a type="button" href="#navbar" class="btn border border-4 rounded-pill" data-mdb-ripple-color="dark">MORE ABOUT US</a>
            </div>
        </div>
    </div>
    <div class="container px-4 py-5" id="featured-3">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col-lg-5 col-md-12 col-sm-12 shadow mx-5 my-3 p-5">
                <i class="bi-eye-fill" style="font-size: 2rem; color: rgb(40, 58, 163);"></i>
                <label class="mx-3 display-6 fw-bold">Our Vision</label>
                <p class="mt-4">Equipping the students with relevant and conceptualized professional skills and guiding them towards a bright future and career all around the world with the values of – Sincerity, Hard Work and Justice.</p>
            </div>
            <div class="feature col-lg-5 col-md-12 col-sm-12 shadow mx-5 my-3 p-5">
                <i class="bi-cpu-fill" style="font-size: 2rem; color: rgb(40, 58, 163);"></i>
                <label class="mx-3 display-6 fw-bold">Our Mission</label>
                <p class="mt-4">To achieve 100% placement for students through dedication, attitude and complete involvement in training the students to meet the expectations of the industry is our mission.</p>
            </div>
            <div class="feature col-lg-11 col-md-12 col-sm-12 shadow m-5 p-5">
                <i class="bi-columns-gap" style="font-size: 2rem; color: rgb(40, 58, 163);"></i>
                <label class="mx-3 display-6 fw-bold">Our Activities</label>
                <p class="mt-4">To approach top multi-national companies for arranging the campus recruitment.<br />To improve the industry – institute relationships.<br />To enhance the student’s interest towards the entrepreneurship and business strategies.</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>