<app-header></app-header>

<div>
    <h2 class="mt-5 text-center" style="color: rgb(40, 58, 163);">Number Of Companies Visited:</h2>
    <figure class="company-bars"></figure>
</div>
<div>
    <h2 class="text-center" style="color: rgb(40, 58, 163);">Number Of Placements Offers Received:</h2>
    <figure class="offer-bars"></figure>
</div>
<div>
    <h2 class="text-center" style="color: rgb(40, 58, 163);">Number of Students Placed:</h2>
    <figure class="placed-bars"></figure>
</div>
<h2 class="pl-5 p-5 text-center" style="color: rgb(40, 58, 163);">Our Branches</h2>
<figure class="legend"></figure>
<div *ngIf="true">
    <figure class="pie"></figure>
</div>
<app-footer></app-footer>