<app-header></app-header>

<div class="container" id="team">
    <div class="row my-5">
        <h1 class="text-center">Meet Our Team</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center team">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <img width="100%" src="../../assets/haritha.jpg" height="450" alt="Training & Placement Coordinator">
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>
                                <h4>Dr. D. Haritha</h4>
                            </li>
                            <li>
                                <p>Training and Placement Officer <br />Career Guidance and Placement Cell</p>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center team">
        <div class="col-lg-4 col-md-6 col-sm-12 mx-5">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <img width="100%" src="../../assets/hemanth.jpg" alt="Training & Placement Coordinator">
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>
                            <h4>Mr. B. Hemanth Kumar</h4>
                        </li>
                        <li>
                            <p>Coordinator</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mx-5">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <img width="100%" src="../../assets/saraswathi.jpg" alt="Training & Placement Coordinator">
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>
                            <h4>Ms. K. Saraswathi</h4>
                        </li>
                        <li>
                            <p>Coordinator</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" id="team">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center team">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <img width="100%" src="../../assets/ramana.jpeg" alt="TPO Attender">
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>
                            <h4>Mr. N. V. Ramana</h4>
                        </li>
                        <li>
                            <p>TPO Attender</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
